*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  align-items: center;
}
body{
  /* display: flex; */
  
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url(/static/about.jpeg);
  backdrop-filter: blur(2px);
  background-size: cover;
  background-position: center;
}
.navbar{
  background-color: #004166a9;
  width: auto;
  height: 75px;
  display: flex;
  margin: auto;
}
.logo{
  color: #f56a2a;
  font-size: 35px;
  font-family: Arial;
  padding-left: 80px;
  text-shadow: 0 0 10px #000000, 0 0 10px #00000085, 0 0 10px #000000, 0 0 10px #000000, 0 0 10px #000000, 0 0 10px #000000, 0 0 10px #000000;
  padding-top: -20px;
}
.menu{
  margin-left: 38%;
  width: 150px;
  height: 60px;
}

ul{
  
  nav-left: auto;
  width: 160%;
  display: flex;
  justify-content: center;
  align-items: center;
}
ul li{
  width: 50%;
  list-style: none;
  margin-left: 80%;
  margin-top: 25px;
  font-size: 14px;
  border-radius: 10px;   
}
ul li a{
  text-decoration: none;
   color: #ffffff;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 500 ;
  font-size: 24px;
  padding-top: 0px;
  left: 100%;
  transition: 0.4s ease-in-out;
}
ul li a:hover{
  color: #f56a2a;
}


/*  */



.wrapper{
  position: absolute;
  width: 1600px;
  height: 82%;
  transform: translate(3%,3%);
  box-shadow: 0 0 5px rgb(255, 255, 255),0 0 15px rgb(255, 255, 255), 0 0 10px rgb(255, 255, 255), 0 0 10px rgb(255, 255, 255), 0 0 20px rgb(255, 255, 255);
  border: 2px solid rgba(0, 0, 0, 0.377);
  
  background: transparent;
  
  border-radius: 12px;
  padding: 30px -30px; 
}
form{
  /* width: 350px; */
  margin: 20px 40px;
}
.pic{
  display: flex;
  width: 1600px;
}

.wrapper h1{
  font-size: 36px;
  color: #14c2da;
  /* text-shadow: 0 0 8px #000000, 0 0 8px #00000085, 0 0 8px #000000, 0 0 8px #000000, 0 0 8px #000000, 0 0 8px #000000, 0 0 8px #000000; */
  text-align: center;
  height: 20%;
}


.wrapper p{
  
  background-color: #004166a9;
  /* border-radius: 50px; */
  border-top-left-radius: 70px;
  color: #ffffff;
  font-size: 28px;
  line-height: 120px;
  margin-top: 120px;
  text-align: justify;
  margin-left: 20%;
  margin-right: -2.8%;
  padding: 0px 20px 0px 20px;
 
}


